ul,li {
    font-style: italic;
}
h1, h2, h3 {
    text-align: center;
}
img {
    width: 350px;
    text-align: center;
}
article {
    display: inline-block;
    margin: 30px;
    
}
section {
    display: inline-flex;
    margin: 1%;
}
header {
    background-color: aqua;
}
footer {
    font-style: italic;
}