ol li:nth-child(odd) {
 text-transform: uppercase;
}

ol li:nth-child(even) {
color: green;
font-weight: bold;
}

ol li {
    background-color: yellow;
}
h1, h3 {
    color: red;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}

.list {
    color: blue
}
.java {
    background-color: pink ;
}

.stack:hover {
    font-weight: bold;
    color: orange;
    text-decoration: none;
}
.w3s:hover {
    font-weight: bold;
    color: rgb(1, 71, 1);
    text-decoration: none;
}
.mdn:hover {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.dev:hover {
    text-decoration: none;
    font-weight: bold;
    color:yellow;
}
.trybe:hover {
    font-weight: bold;
    color: rgb(72, 148, 72);
    text-decoration: none;
}
.decoration-link li {
    text-decoration: none;
}